.home-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  .welcome-card {
    margin-bottom: 20px;

    mat-card-content {
      padding: 20px 0;

      button {
        margin-right: 10px;
      }
    }
  }
} 